.poppins-bold{
    font-family: poppins;
    font-weight: 700;
}
.sorry-heading{
    color: #d8dde2;
    font-size: 37px;
}
.sorry-para{
    color: #d8dde2;
    font-size: 25px;
}
.available-text{
    color: #d8dde2;
    font-size: 14px;
}