.expense-date{
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.expense-date-month{
    font-size: 12px;
    font-weight: 900;
}
.expense-date-year{
    font-size: 0.5rem;
}
.expense-date-day{
    font-size: 1.5rem;
    font-weight: 900;
}
